.container {

    box-shadow: : 0 4px 8px 0 rgba(0, 0, 0, 0.2);;
	max-width: 300px ;
	margin: auto;
	font-family: arial ;
	background-color: aquamarine;

}
.title{
	color: black;
	font-size: 18px;
	text-align: center;
}

button{
	border: none;
	display: inline-block;
	padding: 8px;
	color: white;
	background-color: pink;
	text-align: center;
	cursor: pointer;
	width: 30%;
	font-size: 18px;


}
a{
	text-decoration: none;
	font-size: 22px;
	color: black;
}
button: hover, a: hover { opacity: 0.7 }
h1 {
	font-style: cursive;
	font-family: sans-serif;
	color: black;
	text-decoration-line: bold
}

p { text-align: center;}
.texto {
	margin: auto;
}
.card{
	
	background-color: white;
	border-style: double;
	border-color: black;
	max-width: 400px;
	text-align: center;
	margin: auto;
	box-shadow: 4px 4px 8px 4px

}
.gatito { border-radius: 50%;
width:150px;
height: 100px; }
.ficon { 
width: 30px;
height: 30px;}
.ticon{ width: 30px;
height: 30px; }
.iicon{ width: 30px;
height: 30px; }
.licon{ width: 30px;
height: 30px; }
/*
.foto1 {
 size:  1%

}
.fotobandera {
	width:70px ;
	height:30px ;
}
*/

