.caja { width: 200px ;
        height: 200px;
        margin-top: 20px;
        font-size: 50px;
        text-align: center;
    }
    .rojo { background-color: red;
             }

    .verde { background-color: green; }

    .azul {background-color: blue;}

    .amarillo {background-color: yellow;}